<!DOCTYPE html>
<html>
<head>
  <title>Welcome to LaunchOverflow</title>
</head>
<body>
<%= link_to "Sign Up", new_user_registration_path%>	
<p>Welcome! Your account has been created.</p>
You will be rescued, have faith !<br><br>
	<%@questions.each do|ques|%>
	  <br>
	    <%= link_to "Question", question_path(ques) %>
	    <%=ques.id%><br>
		Title : <%=ques.title%><br>
		Description : <%=ques.description%><br>
    <%end%>

</body>
</html>
