<!DOCTYPE html>
<html>
<head>
  <title>Question Details</title>
</head>
<body>
  <script type="text/javascript">
    var map_array = <%= @location_array.inspect %>
    var my_zoom =  <%= @location_zoom %>
    var mapcenterlat = <%= @mapcenterlat %>
    var mapcenterlong = <%= @mapcenterlong %>
    var flag = <%= @flag %>
  </script>


  <div id="map_canvas" style="height:70%;width:100%"></div>

  <div class="row">
    <div class="large-10 large-offset-1 columns blue-box">
    <h3>Experience <%=@hunt.name%></h3>
      <li><%=@question%></li>
    </div>
  </div>

  <div class="row">
    <div class="large-6 large-offset-3 columns blue-box">
     <%= form_tag(hunt_quiz_path, :method => :get ) do%>
        <%= label :address, "Address" %>
        <%= text_field :address, :address %>
        <%= submit_tag("Answer") %>
     <% end %>

    </div>
  </div>

  <section class="signinwhite">
    <div class="row">
      <div class="large-6 large-offset-3 columns blue-box">
        <li><%= link_to "CLUE", hunt_quiz_path%></li>
        <li style="color:black"><%=@characters%></li>
      </div>
    </div>
  </section>


</body>
</html>