<!DOCTYPE html>
<html>
<head>
  <title>Question Details</title>
</head>
<body>
  <script type="text/javascript">
      var map_array = <%= @location_array.inspect %>
      var my_zoom =  <%= @location_zoom %>
      var mapcenterlat = <%= @mapcenterlat %>
      var mapcenterlong = <%= @mapcenterlong %>
      var flag = <%= @flag %>
  </script>


  <div id="map_canvas" style="height:70%;width:100%"></div>
   
  <div class="row">
    <div class="large-10 large-offset-1 columns blue-box">
    
    <h3>Experience <%=@hunt.name%></h3>
      <li>Q <%=@ques%>.  <%=@question%></li>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 large-offset-3 columns blue-box">
    
    <li><%= link_to 'next', hunt_quiz_path(@hunt, @quiz.next) %></li>
   
   </div>
    </div>


     <section class="signinwhite">
      <div class="row">
    <div class="large-6 large-offset-3 columns blue-box">
        <li><%= link_to "CLUE", hunt_quiz_path%></li>
       
       

        <li style="color:black"><%=@characters%></li>
      </div>
   </div>
  
  </section>
   
      
 </body>
</html>