<!DOCTYPE html>
<html>
<head>
  <title>Question Details</title>
</head>
<body>
  <script type="text/javascript">
    var map_array = <%= [@quiz.latitude, @quiz.longitude] %>
    var my_zoom =  <%= 14 %>
    var mapcenterlat = <%= @quiz.latitude %>
    var mapcenterlong = <%= @quiz.longitude %>
    var flag = <%= 2 %>
    var quiz_id = <%= @quiz.id %>
    var hunt_id = <%= @quiz.hunt.id %>
  </script>


  <div id="map_canvas" style="height:70%;width:100%"></div>

  <% if @flm == 0 %>


    <div class="row">
      <div class="large-8 large-offset-2 columns blue-box">
        <h3>Experience <%=@hunt.name%></h3>
         <li> <%=@msg%></li>
        <li>Q <%=@quiz.question_no%>.  <%=@quiz.question%></li>
      </div>
    </div>

    <section class="signinwhite">

      <div class="row">
        <div class="large-8 large-offset-2 columns blue-box">
          <%= form_tag(hunt_quiz_path, :method => :get ) do%>
            <%= label :address, "Address" %>
            <%= text_field :address, :address, :class => "address" %>
            <div class="row">
              <div class="large-4 large-offset-4 columns blue-box">
                <li><%= submit_tag("Answer",:class => "answer large button") %></li>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if @quiz.get_clue != nil %>
      <div class="row">
        <div class="large-12 columns blue-box">
          <%= button_tag "CLUE 1", :class => "clue1 small button", :type => "button" %>
          <li id ="clue1" style="color:white"><%=@quiz.get_clue[0].html_safe%></li>
          <%= button_tag "CLUE 2", :class => "clue2 small button", :type => "button" %>
          <li id ="clue2" style="color:white"><%=@quiz.get_clue[1].html_safe%></li>
          <%= button_tag "CLUE 3", :class => "clue3 small button", :type => "button" %>
          <li id ="clue3" style="color:white"><%=@quiz.get_clue[2].html_safe%></li>
        </div>
      </div>
      <%end%>
    </section>
  <%else%>

    <div class="row">
      <div class="large-8 large-offset-2 columns blue-box">
        <li> <%=@msg%></li>
        <% if @quiz.next %>
          <li><%= link_to 'Next', hunt_quiz_path(@hunt, @quiz.next) %></li>
        <%end%>
      </div>
    </div>
  <%end%>

</body>
</html>