<!DOCTYPE html>
<html>
<head>
  <title>Hunt Details</title>
</head>
<body>
	

  <% if flash.any? %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <div class="row">
      <div class="large-12 columns blue-box">
      <h3>Hunt</h3>
          <li><%=@hunt.name%></li><br>
          
          <h3>Your itenirary</h3>
        
          <%@hunt.quizzes.each do|quiz|%>
              <li><%=quiz.question_no%>.  <%=quiz.question.capitalize%></li>
          <%end%>
          <br>
          <% if (5 - @quizzes.maximum(:question_no)) != 0 %>
                <li> You have <%= 5 - @quizzes.maximum(:question_no)%> questions left to complete <%=@hunt.name%> </li>
                 <li><%=link_to "Enter a question", new_hunt_quiz_path(@hunt)%></li>
                <br>
                <%else%>

                <li><%=@hunt.name%> Complete</li><br>
                  <li>Where to next ?</li>
                <li><%=link_to "New hunt", new_location_path%></li>
          <%end%>

         
    
          <li><%=link_to "Edit hunt", edit_hunt_path%></li> 
           <li><%=link_to "All hunts", hunts_path%></li>              
    </div>
  </div> 

</body>
</html>