<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All locations</title>
</head>

<body>

  <script type="text/javascript">
    var map_array = <%= @location_array.inspect %>
    var my_zoom =  <%= @location_zoom %>
    var flag = <%= @flag %>
    var mapcenterlat = <%= @mapcenterlat %>
    var mapcenterlong = <%= @mapcenterlong %>
  </script>


  <div id="map_canvas" style="height:70%;width:100%"></div>

  <div class="row">
    <div class="large-12 columns blue-box">
      <h3>Choose your location</h3>
      <%@locations.each do|loc|%>
        <li><%= link_to ">>", location_path(loc.id) %>
        <%=loc.address%></li>
      <%end%>

    </div>
  </div>

</body>
</html>
