<!DOCTYPE html>
<html>
<head>
  <title>Enter your location</title>
</head>
<body>

<div class="row">
 <div class="large-8 large-offset-2 columns blue-box">

  <h3>New Location</h3><br>
  <%= form_for @location, action: "create", html: {class: "nifty_form"} do |f| %>
    <% if @location.errors.any? %>
      <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
  <%end%>
  <h3> Choose from existing </h3>
  <%= f.collection_select :id, @locations, :id, :address, selected: @locations.first.id %>

  <h3>Provide a new one </h3> 
  <li><%= f.label :address, "1", :class => "signinlabelforms" %></li>
  <p><%= f.text_field :address, placeholder: "Address"%></p>
  <div class="row">
    <div class="large-4 large-offset-4 columns blue-box">       
     <li><%= f.submit "Create", :class => "secondary large button"%></li>
    </div>
  </div>   
  <%end%> 
  <%= link_to ">> View all", locations_path,:class => "secondary small button" %>
 </div>

</div> 

</body>
</html>
