<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>
  <body>


   <section class="signin">
       <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <div class="button-group">

                <%- if current_user -%>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <%- else -%>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                <%- end -%>
                <% if flash.any? %>
                  <div class="flash">
                    <%= flash[:notice] %>
                  </div>
                <%end%>
                <div class = "footer_social">
                  <div class="row">
                    <div class="large-12 columns">

                        <div class="button-group">
                         <a href="https://twitter.com/share" class="twittersharebutton" data-count="none" data-hashtags="Maps,Game,Travel,Tresurehunts"><img src="http://localhost:3000/assets/twitter.png"></a>
                          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                          </script>
                          <a href="//www.pinterest.com/pin/create/button/"><img src="http://localhost:3000/assets/pin.png"/></a>
                      </div>
                    </div>
                </div>

            </div>

          </div>
        </div>
      </div>

    </div>



    <%= yield %>
    <%= javascript_include_tag "application" %>


    </section>



  </body>
</html>