<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   
    <%= csrf_meta_tags %>
  </head>

  <body>
   <section class="signin">
       <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <div class="button-group">  
               <% if user_signed_in? != false %>
                  <li class="secondary small button"><%= current_user.name%></li>  

                  <li class="secondary small button"><%= link_to "Sign out", destroy_user_session_path, method: "DELETE"%></li> 
                <%end%>
                <% if flash.any? %>
                  <div class="flash">
                    <%= flash[:notice] %>
                  </div>
                <%end%> 
              </div> 
            </div>
          </div>

        </div>
    

    
  
    <%= yield %>
    <%= javascript_include_tag "application" %>
    </section>
  
  </body>
</html>